<div class="container-fluid py-5">
  <div class="container d-flex flex-column align-content-center">
    <h1 class="text-center">Deletar tema</h1>

    <p class="text-center">Você tem certeza de que deseja apagar o tema <span class="font-weight-bold">{{tema.descricao}}</span>?</p>
    <p class="text-center">Todas as postagens feitas com esse tema, irão de base junto com ele...</p>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6 d-flex justify-content-around">
        <button class="btn btn-outline-dark" routerLink="/temas">Quero mais não...</button>
        <button class="btn btn-outline-danger" (click)="apagarTema()">Mandar pro espaço</button>
      </div>
    </div>
  </div>
</div>