<div class="container-fluid">
  <div class="row align-items-center d-flex">
    <div class="col-md-6" id="imgBg"></div>
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <h1 class="text-center">Cadastrar</h1>
          <form >
            <div class="form-group">
              <label for="">Nome Completo:</label>
              <input type="text" class="form-control"  name="nome" [(ngModel)]="usuario.nome"  >
            </div>
            <div class="form-group">
              <label for="">Nome de Usuário:</label>
              <input type="email" class="form-control" placeholder="Digite um e-mail válido" name="email" [(ngModel)]="usuario.usuario">
            </div>
            <div class="form-group">
              <label for="">URL da foto:</label>
              <input type="text" class="form-control" name="foto" [(ngModel)]="usuario.foto">
            </div>
            <div class="form-group">
              <label for="">Senha:</label>
              <input type="password" class="form-control" name="senha" (input)="confirmSenha($event)">
            </div>
            <div class="form-group">
              <label for="">Confirmar Senha:</label>
              <input type="password" class="form-control" name="confirmSenha" [(ngModel)]="usuario.senha">
            </div>
            <div class="form-group">
              <label for="">Tipo de usuário:</label>
              <select name="tipo" id="tipo" class="form-control" (change)="tipoUser($event)">
                <option value="" disabled selected>Escolha um tipo de usuário</option>
                <option value="admin">Administrador</option>
                <option value="padrao">Padrão</option>
              </select>
            </div>
            <div class="d-flex justify-content-around">
              <button class="btn btn-outline-danger w-25" routerLink="/entrar">Cancelar</button>
              <button class="btn btn-outline-dark w-25" (click)="cadastrar()">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>