<div class="container-fluid py-5 bg-fundo bg-text">
  <a class="text-light" routerLink='/inicio'>Voltar ao inicio</a>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <h2 class="text-center">Cadastre um novo tema</h2>

        <form>
          <div class="form-group">
            <label for="">Descrição do tema</label>
            <input type="text" id="tema" name="tema" class="form-control">
          </div>

          <div>
            <button class="btn btn-outline-light d-block mx-auto w-50">Cadastrar tema</button>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <img src="assets/astrocat.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2 class="text-center mb-3">Temas cadastrados:</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>