<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 ">
      <div class="row d-flex justify-content-center ">
        <div class="col-md-8 ">
          <h1 class="text-center">Entrar</h1>
          <form>
            <div class="form-group">
              <label for="">Nome de usuario:</label>
              <input type="text" class="form-control" name="usuario" [(ngModel)]="usuarioLogin.usuario">
            </div>
            <div class="form-group">
              <label for="">Senha:</label>
              <input type="password" class="form-control" name="senha" [(ngModel)]="usuarioLogin.senha">
            </div>
            <button class="btn btn-outline-dark w-50 d-block mx-auto" (click)="logar()">Entrar</button>
          </form>

          <hr>
          <p class="text-center">Não tem cadastro ainda??? Mancada, mas <a routerLink="/cadastrar">faz um cadastro ai...</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="imgBg"></div>
  </div>
</div>